<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="referrer" content="no-referrer-when-downgrade">
    <meta name="description" content="Code Typer is a minimalistic code typing game, where you can practice your code typing skills and improve productivity, accuracy and speed.">
    <meta name="robots" content="all">
    <meta name="copyright" content="Nikoloz Naskidashvili">
    <meta name="address" content="Georgia, Tbilisi">
    <meta property="og:locale" content="ka-GE">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Code Typer">
    <meta property="og:description" content="">
    <meta property="og:url" content="{{ request.base_url }}">
    <meta property="og:site_name" content="Code Typer is a minimalistic code typing game, where you can practice your code typing skills and improve productivity, accuracy and speed.">

    <title>{% block title %}{% endblock %} — Code Typer</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&family=JetBrains+Mono:wght@400;500;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">

    <link href="https://cdn.jsdelivr.net/npm/daisyui@3.9.3/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>

    <script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>

    {% block head %}{% endblock %}
</head>
<body class="p-8" tabindex="-1">
    <div class="navbar bg-base-100">
      <div class="flex-1">
          <a class="btn btn-ghost text-xl" href="{{ url_for('index.index') }}">Code Typer</a>
      </div>
      <div class="flex-none">
          <ul class="menu menu-horizontal px-1">
              <li>
                  <a href="{{ url_for('index.index') }}">Home</a>
              </li>
              <li>
                  <a href="{{ url_for('add_snippet.index') }}">Add Snippet</a>
              </li>
          </ul>
      </div>
    </div>

    <div class="px-6">
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
                <div role="alert" class="alert alert-{{ category }} my-2 mb-6">
                    <span>{{ message }}</span>
                </div>
            {% endfor %}
          {% endif %}
        {% endwith %}
    </div>

    <div class="page_content px-6 mb-4">
        {% block content %}{% endblock %}
        {% block body %}{% endblock %}
    </div>

    <div class="mobile_content flex flex-col justify-center items-center py-16 w-full text-center">
        Who on earth uses a mobile to write code?
        <br>
        Grab your laptop G!
        <br>
        <br>
        <iframe src="https://giphy.com/embed/pH6bOPv3NRePOlt5Qn" width="400" height="320" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
    </div>
</body>
</html>