{% extends "layout.html" %}

{% block title %}Add Code Snippet{% endblock %}

{% block head %}
    {{ codemirror.include_codemirror() }}
{% endblock %}

{% block content %}
    {% if success %}
        <span>Snippet added successfully.</span>
    {% endif %}

    <form method="POST">
        {{ form.csrf_token }}
        {{ form.language }}
        {{ form.code }}
        <button type="submit">
            Add Code Snippet
        </button>
    </form>

    <script>
        var selector = document.getElementById("language");

        selector.addEventListener("change", () => {
          editor_for_code.setOption("mode", selector.value);
        });
    </script>
{% endblock %}
