{% extends "layout.html" %}

{% block title %}Add Code Snippet{% endblock %}

{% block head %}
    {{ codemirror.include_codemirror() }}
{% endblock %}

{% block content %}
    {% if success %}
        <span>Snippet added successfully.</span>
    {% endif %}

    <form method="POST">
        {{ form.csrf_token }}
        {{ form.name(class="input input-bordered input-primary w-full max-w-sm mb-4 mr-4", placeholder="Enter snippet name") }}
        {{ form.language(class="select select-primary w-full max-w-xs mb-4") }}
        {{ form.code }}
        <div class="w-full flex justify-center align-center">
            <button class="btn btn-md btn-primary text-md w-96 mt-8" type="submit">
                Add Code Snippet
            </button>
        </div>
    </form>

    <script>
        var selector = document.getElementById("language");

        selector.addEventListener("change", () => {
          editor_for_code.setOption("mode", selector.value);
        });
    </script>
{% endblock %}
