{% extends "layout.html" %}

{% block title %}Typer{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/highlight-theme.css') }}">
{% endblock %}

{% block content %}
    <div class="flex flex-col w-full gap-6">
        <div class="w-full flex flex-col justify-center items-center py-6 border-2 rounded-lg border-slate-700">
            <div class="text-2xl" id="stopwatch">00:00.00</div>
        </div>
        <div class="w-full flex flex-col justify-center items-center border-2 rounded-lg border-slate-700 p-4 text-sm hidden" id="stats-block">
            <span class="text-lg mb-4">Game Statistics</span>
            <span class="text-center text-blue-400 mb-2" id="final-message"></span>
            <span class="mb-4" id="character-per-minute"></span>
            <button class="btn btn-sm btn-primary text-xs" onclick="window.location.reload()">Try Again</button>
        </div>
        <div class="flex flex-row gap-6 text-sm">
            <div class="w-full border-2 rounded-lg border-slate-700 p-4">
                <pre><code data-language="{{ snippet.language }}">{{ snippet.code }}</code></pre>
            </div>
            <div class="w-full border-2 rounded-lg border-slate-700 p-4">
                <pre id="code-space"><span class="blink_2">Start typing to start the game.</span></pre>
            </div>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/js-confetti@latest/dist/js-confetti.browser.js"></script>

    <script>
        // Initialize the confetti library
        const jsConfetti = new JSConfetti();

        // Pass the snippet to the template
        const snippet = `{{ snippet.code }}`;

        // unescape html
        let tempElement = document.createElement('div');
        tempElement.innerHTML = snippet;
        let unescapedSnippet = tempElement.innerText;

        //
        // game logic
        //
        let characters = [];
        let displayCharacters = [];
        const initialText = unescapedSnippet.replace(/    /g, '····')
        let textContainer = document.getElementById('code-space');
        let currentIndex = 0;

        let ignoreKeys = ['Shift', 'Meta', 'ArrowLeft', 'ArrowRight', 'ArrowUp', 'ArrowDown', 'Delete', 'CapsLock', 'Control', 'Alt'];

        let startedFlag = false;
        let finishedFlag = false;

        // Listen to keystrokes
        document.addEventListener('keydown', function(event) {
            event.preventDefault();
            const pressedKey = event.key;

            // Start the game
            if (!startedFlag) {
                startedFlag = true;
                startStopwatch();
            }

            // Don't do anything if the game is finished
            if (finishedFlag) {
                return;
            }

            if (pressedKey === "Backspace") {
                // Remove last character from the text container
                let lastCharacter = displayCharacters.pop();
                characters.pop();

                // Remove 3 more characters if the last character was a tab
                if (lastCharacter === "&nbsp;") {
                    for (let i = 0; i < 3; i++) {
                        displayCharacters.pop();
                        characters.pop();
                        currentIndex--;
                    }
                }

                // Decrement the current index and make sure it doesn't go below 0
                currentIndex--;
                if (currentIndex < 0) {
                    currentIndex = 0;
                }

                // Reflect the changes in the text container
                textContainer.innerHTML = displayCharacters.join('');
                moveCursor();
                return;
            } else if (ignoreKeys.includes(pressedKey)) {
                // Ignore keys
                return
            } else if (pressedKey === "Tab") {
                // Handle Tab key - append 4 spaces

                if (initialText[currentIndex] === "·") {
                  // Correct key pressed
                  for (let i = 0; i < 4; i++) {
                      displayCharacters.push('&nbsp;'); // Using non-breaking space for indentation
                      characters.push('·');
                      currentIndex++;
                  }
                  currentIndex--;
                } else {
                  // Incorrect key pressed
                  displayCharacters.push(`<span class="text-rose-600">████</span>`);
                  characters.push('·');
                }

                // Increment the current index
                currentIndex++;

                // Reflect the changes in the text container
                textContainer.innerHTML = displayCharacters.join('');
                moveCursor();
                return;
            } else if (pressedKey === "Enter") {
                // Handle Enter key - go to a new line
                displayCharacters.push('<br>');
                characters.push('\n');

                // Increment the current index
                currentIndex++;

                // Reflect the changes in the text container
                textContainer.innerHTML = displayCharacters.join('');
                moveCursor();
                return;
            } else if (pressedKey === initialText[currentIndex]) {
                // Correct key pressed
                characters.push(pressedKey);
                displayCharacters.push(`<span class="text-emerald-500">${pressedKey}</span>`);
            } else {
                // Incorrect key pressed
                characters.push(pressedKey);
                if (pressedKey === ' ') {
                  // Handle space key
                  displayCharacters.push(`<span class="text-rose-600">█</span>`);
                } else {
                  // Handle other keys
                  displayCharacters.push(`<span class="text-rose-600">${pressedKey}</span>`);
                }
            }

            // Increment the current index
            currentIndex++;

            // Reflect the changes in the text container
            textContainer.innerHTML = displayCharacters.join('');
            moveCursor();

            // Check if the game is finished
            if (characters.join('') === initialText) {
                // Stop the stopwatch
                stopStopwatch();

                // Remove the cursor
                textContainer.removeChild(cursorText);

                // Set the finished flag
                finishedFlag = true;

                // Show the stats
                const cpmEmoji = CalculateAndShowStats();

                // Show the confetti
                jsConfetti.addConfetti();
                sleep(1000).then(() => {
                  jsConfetti.addConfetti({
                    emojis: cpmEmoji,
                  });
                });
            }

            // Debug
            console.log(initialText[currentIndex-1], pressedKey);
        });

        // Helper function to sleep
        function sleep (time) {
          return new Promise((resolve) => setTimeout(resolve, time));
        }

        //
        // Cursor logic
        //
        const cursorText = document.createElement('span');
        cursorText.classList.add('blink');
        cursorText.innerHTML = '⎢';

        function moveCursor() {
            const cursorPosition = currentIndex;

            if (cursorPosition === displayCharacters.length) {
                // Cursor is at the end of the text, just append it
                textContainer.appendChild(cursorText);
            } else {
                // Cursor is in the middle, insert it at the correct position
                textContainer.insertBefore(cursorText, textContainer.childNodes[cursorPosition]);
            }
        }

        //
        // Stopwatch logic
        //
        let stopwatch;
        let isRunning = false;
        let centiseconds = 0;
        let seconds = 0;
        let minutes = 0;
        let elapsedtime = 0;

        // Start the stopwatch
        function startStopwatch() {
            if (!isRunning) {
                stopwatch = setInterval(updateStopwatch, 10);
                isRunning = true;
            }
        }

        // Stop the stopwatch
        function stopStopwatch() {
            clearInterval(stopwatch);
            isRunning = false;
            getElapsedTime();
        }

        // Reset the stopwatch
        function resetStopwatch() {
            clearInterval(stopwatch);
            isRunning = false;
            centiseconds = -1;
            seconds = 0;
            minutes = 0;
            updateStopwatch();
            elapsedtime = 0;
        }

        // Update the stopwatch
        function updateStopwatch() {
            centiseconds++;
            if (centiseconds === 100) {
                centiseconds = 0;
                seconds++;
            }
            if (seconds === 60) {
                seconds = 0;
                minutes++;
            }
            elapsedtime++;

            const formattedTime = padNumber(minutes) + ':' + padNumber(seconds) + '.' + padNumber(centiseconds);
            document.getElementById('stopwatch').innerText = formattedTime;
        }

        // Get the elapsed time
        function getElapsedTime() {
          const elapsedSeconds = Math.floor(elapsedtime / 100);
          const elapsedMinutes = Math.floor(elapsedSeconds / 60);
          const elapsedCentiseconds = elapsedtime - elapsedSeconds * 100 - elapsedMinutes * 6000

          return padNumber(elapsedMinutes) + ':' + padNumber(elapsedSeconds % 60) + '.' + padNumber(elapsedCentiseconds);
        }

        function padNumber(number, length = 2) {
            return number.toString().padStart(length, '0');
        }

        //
        // Game statistics logic
        //
        function CalculateAndShowStats() {
            // Get the elapsed time
            const formattedElapsedTime = getElapsedTime();

            // Calculate character per minute
            let timeParts = formattedElapsedTime.split(":");
            let elapsedSeconds = parseInt(timeParts[0]) * 60 + parseFloat(timeParts[1]);
            let elapsedMinutes = elapsedSeconds / 60;
            let cpm = (initialText.length / elapsedMinutes).toFixed(2);
            document.getElementById('character-per-minute').innerText = `Characters per minute: ${cpm}`;

            // Show final message
            let cpmEmojis;
            let finalMessage;
            if (cpm < 80) {
                finalMessage = "You are typing like my grandma! Speed up those fingers! ¯\_(ツ)_/¯";
                cpmEmojis = ["👵🏻", "🐢"];
            } else if (cpm < 160) {
                finalMessage = "You must be copy-pasting your code from Stackoverflow, because there ain't speed in those fingers! (╯°□°）╯︵ ┻━┻";
                cpmEmojis = ["🐌", "🐢"];
            } else if (cpm < 220) {
                finalMessage = "An average typist here! Ohh, these amateurs! (╯°□°）╯︵ ┻━┻";
                cpmEmojis = ["😑", "⌨️"];
            } else if (cpm < 300) {
                finalMessage = "God damn, that keyboard is on fire! Are you a keyboard ninja? Master level achieved! ✧(ↀ-ↀ)✧";
                cpmEmojis = ["🔥", "🥷"];
            } else {
                finalMessage = "OMG! Are you a human? Keyboard left the chat ... ᕙ(⇀‸↼‶)ᕗ";
                cpmEmojis = ["🤯", "🤖"];
            }
            document.getElementById('final-message').innerText = finalMessage;

            // Show the stats block
            document.getElementById('stats-block').classList.remove('hidden');

            return cpmEmojis;
        }
    </script>

    <script src="{{ url_for('static', filename='js/rainbow-custom.min.js') }}"></script>
{% endblock %}
